.dark-background {
  background-color: #1E1E28;
}

.sidebar-light-background {
  background-color: #242430;
}

.sidebar-background {
  background-color: #20202A;
}

.card-background {
  background-color: #2C2C39;
}

.bg-yellow {
  background-color: var(--yellow);
}

.text-yellow {
  color: var(--yellow);
}

.border-yellow {
  border: 1px solid var(--yellow);
}