@import 'variables.scss';

.active-nav {
  color: #f1f1f1;
}

.sidebar-closed {
  transform: translateX(60%);

  @media only screen and (max-width: $medium) {
    transform: translateX(0);
  }
}

.ham-btn {
  .line {
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    background-color: rgb(140, 140, 142);
    transition: all 0.4s ease-in;
  }
  &:hover .line {
    background-color: #f1f1f1;
  }

  .line-1 {
    width: 16px;
    transform: translateY(0.3rem) rotate(45deg);
  }
  .line-2 {
    width: 0;
    opacity: 0;
  }
  .line-3 {
    width: 16px;
    transform: translateY(-0.3rem) rotate(-45deg);
  }
}

@media only screen and (min-width: $medium) {
  .nav-list {
    transform: translateX(100px);
    opacity: 0;
  }
}
